@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}


.textTop{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: 3rem;
    color: white;
    z-index: 2;
}

.loginBtn{
	background-color: transparent;
	border: 2px solid white;
	margin-top: 1rem;
	width: 18%;
	height: 3.2rem;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
	border-radius: 10px;
	transition: background-color 1s ease-in-out;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.close {
    color: black; 
}

.modal-title{
	color: black;
	font-size: 2rem;
}
.loginBtn:hover{
	background-color: white;
	color: black;
}

.fieldInput{
	border: none;
	background-color: transparent;
	margin: 1rem;
	border-bottom: 1px solid lightgrey;
}

.modal-footer button{
	background-color: black;
	color: white;
	width: 8rem;
	font-size: 1.1rem;
	height: 2.7rem;
	border: 1px solid white;
	border-radius: 10px;

}


.modal-footer button:hover{
	background-color: transparent;
	border: 1px solid black;
	color: black;
	font-weight: 700;
}


canvas{
	display: block;
}

/* ---- particles.js container ---- */
#particles-js canvas{
    position: absolute;
    width: 100vh;
    height: 100vw;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}
